doctype
html
	head
		title= "FSE Chatroom"
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous", rel='stylesheet', type='text/css')
	body
		.container 
			#join.row(style="margin-top:100px")
				.col-md-4 
				.col-md-4 
					.panel.panel-info
						.panel-heading FSE Chatroom 
						.panel-body 
							input(type="text" class="form-control" id="nickname" placeholder="Choose a Nickname")
						.panel-footer(style="text-align:center")
							form#join-form
								button(class="btn btn-info" type="submit") Join Chatroom
				.col-md-4 
			#chatroom.row 
				.col-md-4 
					.panel.panel-info
						.panel-heading Connected Users 
						.panel-body(style="height:400px;max-height: 800;overflow-y: auto;") 
							ul#users.media-list
						.panel-footer
							a#disconnect(href="#") Logout 
				.col-md-8 
					.panel.panel-info
						.panel-heading Messages
						.panel-body(id="messages-panel" style="height:400px;max-height: 800;overflow-y: auto;") 
							ul.media-list(id="messages")
						.panel-footer
							form(id="send")
								.input-group
									input(type="text" class="form-control" id="m" placeholder="Enter Message")
									span.input-group-btn
										button(class="btn btn-info" type="submit") Send
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.1.js')
	script(type='text/javascript', src='js/chatroom-client.js')
